<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020 CovidCert</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="/chi-siamo.html">Chi siamo</a></li>
        <li class="list-inline-item"><a href="/guida.html">Guida all'uso</a></li>
        <li class="list-inline-item"><a href="/privacy-policy.html">Informativa Privacy</a></li>
    </ul>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="mailto:{{ site.contact_email }}" title="Email" target="_blank"><i class="fa fa-envelope"></i></a></li>
        <li class="list-inline-item"><a href="{{ site.github_project_url }}" title="GitHub" target="_blank"><i class="fa fa-github"></i></a></li>
    </ul>
</footer>