<nav class="navbar navbar-expand-md bg-light navbar-light">
    <a class="navbar-brand" href="/"><img src="/img/covidcert.svg" width="100" alt="CovidCert"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        {% for p in site.pages_list %}
          <li class="nav-item {% if page.title == p.name %}active{% endif %}">
            <a class="nav-link" href="{{ p.url }}">{{ p.name }} {% if page.title == p.name %}<span class="sr-only">(current)</span>{% endif %}{% if p.new == true %}<sup><span class="badge badge-primary">New</span></sup>{% endif %}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
</nav>